@tailwind base;
@tailwind components;
@tailwind utilities;


/* body 기본 스타일 */
body {
  @apply font-sans text-white text-center
  min-h-screen bg-gradient-to-t from-[#0f0c29] via-[#302b63] to-[#24243e];
}


/* input 스타일 */
@layer components{
  input {
  @apply bg-transparent 
         placeholder-white 
         border-b 
         border-white 
         text-sm 
         focus:ring-blue-500 
         focus:outline-none 
         block 
         w-full 
         p-2.5;
  }
}


/* 커스텀 버튼 컴포넌트 */
@layer components {
  .button {
    @apply 
           ml-2 
           bg-transparent 
           rounded-lg 
           border 
           border-blue-700 
           hover:bg-blue-800 
           hover:bg-gradient-to-b from-[#0575E6] to-[#021B79] 
           hover:shadow-md 
           shadow-blue-500/50 
           active:ring-4 
           active:outline-none  
           shadow-lg 
           ring-1 
           ring-blue-500
           px-4 py-2;
  }
}
