@tailwind base;
@tailwind components;
@tailwind utilities;


/* body 기본 스타일 */
body {
  @apply font-sans text-black text-center
  min-h-screen bg-gradient-to-t;
}


/* input 스타일 */
@layer components{
  input {
  @apply bg-transparent 
         placeholder-gray-500 
         border-b 
         border-black 
         text-sm 
         focus:ring-blue-500 
         focus:outline-none 
         block 
         w-full 
         p-2.5;
  }
  input:focus{
    @apply placeholder-transparent
  }
  input.small{
    @apply p-1
    w-fit
  }
}


/* 커스텀 버튼 컴포넌트 */
@layer components {
  

  .bg-pizza {
  background-image: url('./assets/pizza.jpg');
  background-size: cover;
  background-position: center;
}

.bg-chicken {
  background-image: url('./assets/chicken.jpg');
  background-size: cover;
  background-position: center;
}

.bg-hamburger {
  background-image: url('./assets/hamburger.jpg');
  background-size: cover;
  background-position: center;
}

.bg-mara {
  background-image: url('./assets/mara.jpg');
  background-size: cover;
  background-position: center;
}


}
