@tailwind base;
@tailwind components;
@tailwind utilities;


/* body 기본 스타일 */
body {
  @apply font-sans text-black text-center
  min-h-screen bg-gradient-to-t;
}


/* input 스타일 */
@layer components{
  input {
  @apply bg-transparent 
         placeholder-gray-500 
         border-b 
         border-black 
         text-sm 
         focus:ring-blue-500 
         focus:outline-none 
         block 
         w-full 
         p-2.5;
  }
  input:focus{
    @apply placeholder-transparent
  }
  input.small{
    @apply p-1
    w-fit
  }
}


/* 커스텀 버튼 컴포넌트 */
@layer components {
  button {
    @apply text-white
           ml-2 
           rounded-lg 
           bg-blue-600
           transition-colors
           hover:bg-gradient-to-b from-[#0575E6] to-[#021B79] 
           hover:shadow-md 
           shadow-blue-500/50 
           active:ring-4 
           active:outline-none  
           shadow-lg 
           px-4 py-2;
  }
  button.new{
    @apply bg-transparent
    underline
    text-black
    shadow-none
    hover:bg-none
    hover:shadow-none
  }

  .bg-pizza {
  background-image: url('../assets/pizza.jpg');
  background-size: cover;
  background-position: center;
}

.bg-chicken {
  background-image: url('../assets/chicken.jpg');
  background-size: cover;
  background-position: center;
}

.bg-hambuger {
  background-image: url('../assets/hambuger.jpg');
  background-size: cover;
  background-position: center;
}

.bg-mara {
  background-image: url('../assets/mara.jpg');
  background-size: cover;
  background-position: center;
}


}
